bike_test.mp4
helmet_detection.avi
front_vid2.mp4
.gitignore
.gitignore
np_test-llc-edl.csv
.gitignore
np_test.mp4
.gitignore
no_parking_2.avi
no_parking.avi
.gitignore
outyolo.mp4
outpy.avi
.gitignore
Test1.mp4
Test2.mp4
.gitignore
speed_test.mp4
.gitignore
checkpoints/yolov3-416.tflite
data/road.mp4
